<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTH-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="signup.component.scss">
</head>

<body>
    <div class="body">
        <div class="container">
            <form action="/register" method="POST">
                <div class="head">
                    <span>Sign up</span>
                    <p>Create a free account with your email.</p>
                </div>
                <div class="inputs">
                    <input type="text" placeholder="Full Name">
                    <input type="email" placeholder="Email">
                    <input type="password" placeholder="Password">
                </div>
                <button>Sign up</button>
            </form>
            <div class="form-footer">
                <p>Have an account?</p> <a routerLink="../login" routerLinkActive="active">Login</a>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</body>

</html>