body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 20px;
}

.destination-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.destination-box {
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;

  img {
    width: 100%;
    max-height: 500px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  h2 {
    margin: 0;
  }

  button {
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  .destination-rating {
    color: #FFD700; 
    font-size: 20px;
    margin-bottom: 10px;

    i {
      &.far {
        color: #ccc;
      }

      &.rated {
        color: #FFD700; 
      }
  }
  p {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
}