<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Places to Travel in Toronto</title>
</head>
<body>
  <h1>Places to Travel in Toronto</h1>
  <div class="destination-container">
    <div class="destination-box" id="place1">
      <img src="../assets/image/Destination_1.jpg" alt="Place 1">
      <h2>CN Tower</h2>
      <button onclick="redirectToReview('place1')">View details</button>
    </div>
    <div class="destination-box" id="place2">
      <img src="../assets/image/Destination_2.jpg" alt="Place 2">
      <h2>Royal Ontario Museum</h2>
      <button onclick="redirectToReview('place2')">View details</button>
    </div>
    <div class="destination-box" id="place3">
      <img src="../assets/image/Destination_3.jpg" alt="Place 3">
      <h2>Ripley’s Aquarium of Canada</h2>
      <button onclick="redirectToReview('place3')">View details</button>
    </div>
    <div class="destination-box" id="place4">
      <img src="../assets/image/Destination_4.jpg" alt="Place 4">
      <h2>Distillery Historic District</h2>
      <button onclick="redirectToReview('place4')">View details</button>
    </div>
  </div>
</body>
</html>
