<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Distillery Historic District - Destination_Xplorer</title>
  <link rel="stylesheet" href="DistilleryHistoricDistrict.component.scss">
</head>
<body>
  <nav>
    <div class="navbar">
        <a routerLink="/" routerLinkActive="active" class="logo">Destination Xplorer</a>
        <ul>
            <li> <a routerLink="/home" routerLinkActive="active">HOME</a></li>
            <li><a routerLink="/contacts" routerLinkActive="active">CONTACTS</a></li>
            <li><a routerLink="/destination" routerLinkActive="active">DESTINATION</a></li>
            <li> <a routerLink="/review" routerLinkActive="active">REVIEW</a></li>
            <li> <a routerLink="/login" routerLinkActive="active"> LOGIN</a></li>
        </ul>
    </div>
  </nav>
  <header>
    <h1 class="inline-block3"><b>Distillery Historic District</b></h1>
    <h2 class="inline-block3">Rate: </h2>
  </header>
  <main>
    <section id="overview">
      <div class="sudoku-grid">
        <div class="image-container">
          <img src="../../assets/image/Destination_4.jpg" alt="Distillery Historic District">
        </div>
        <div class="small">
          <img src="../../assets/image/Destination_4-1.jpg" alt="Distillery Historic District">
          <img src="../../assets/image/Destination_4-2.jpg" alt="Distillery Historic District">
        </div>
        <div class="small">
          <img src="../../assets/image/Destination_4-3.jpg" alt="Distillery Historic District">
          <img src="../../assets/image/Destination_4-4.jpg" alt="Distillery Historic District">
        </div>
      </div>
      <div class="content">
        <div class="about-map-container">
          <div class="about-section">
            <h2>About</h2>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Restaurants, boutiques, arts, and entertainment are The Distillery Historic District’s claim to fame. This pedestrian-only village features more than 40 heritage buildings that now house everything a modern traveller might enjoy. New fashion can be found in restored, Victorian-era buildings; culinary inventions are hidden behind weathered red brick walls; and art galleries and performance venues host events year-round, ensuring that the old neighbourhood is full of life. The sector gets its name from the Gooderham & Worts whiskey distillery, which used to occupy many of the buildings.</p>
            <hr>
            <h2 class="inline-block">Opening Hours</h2>
            <h2 class="inline-block">Suggested Duration</h2>
            <br>
            <h3 class="inline-block2">- 10 a.m. to 6 p.m.</h3>
            <h3 class="inline-block2">- 2 to 3 hours</h3>
            <hr>
            <h2>Activities</h2>
            <h3 class="tickets">- Shopping</h3>
            <h3 class="tickets">- Dining</h3>
            <h3 class="tickets">- Tour</h3>
            <h3 class="tickets">- Gallery</h3>
          </div>
          <hr>
          <div class="map-section">
            <h2>Location</h2>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5773.808571528913!2d-79.36859175653079!3d43.650159682152314!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b36f015f04867%3A0x8e227962d3af3ca9!2sThe%20Distillery%20Historic%20District!5e0!3m2!1sen!2sca!4v1691039493458!5m2!1sen!2sca"
               width="580"
               height="450"
               style="border:0;"
               allowfullscreen=""
               loading="lazy">
            </iframe>
          </div>
        </div>
      </div>
    </section>
    <div class="buttons-container">
      <a href="https://www.thedistillerydistrict.com/" target="_blank"><button type="button">VIEW WEBSITE</button></a>
      <a href="/review"><button type="button">WRITE A REVIEW</button></a>
    </div>
  </main>
  <footer>
    <p>&copy; SUMMER 2023 - COMP 229 - Group 5 Project - Destination Xplorer. All rights reserved.</p>
  </footer>
</body>
</html>
