<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ripley's Aquarium of Canada - Destination_Xplorer</title>
  <link rel="stylesheet" href="RipleysAquarium.component.scss">
</head>
<body>
  <nav>
    <div class="navbar">
        <a routerLink="/" routerLinkActive="active" class="logo">Destination Xplorer</a>
        <ul>
            <li> <a routerLink="/home" routerLinkActive="active">HOME</a></li>
            <li><a routerLink="/contacts" routerLinkActive="active">CONTACTS</a></li>
            <li><a routerLink="/destination" routerLinkActive="active">DESTINATION</a></li>
            <li> <a routerLink="/review" routerLinkActive="active">REVIEW</a></li>
            <li> <a routerLink="/login" routerLinkActive="active"> LOGIN</a></li>
        </ul>
    </div>
  </nav>
  <header>
    <h1 class="inline-block3"><b>Ripley's Aquarium of Canada</b></h1>
    <h2 class="inline-block3">Rate: </h2>
  </header>
  <main>
    <section id="overview">
      <div class="sudoku-grid">
        <div class="image-container">
          <img src="../../assets/image/Destination_3.jpg" alt="Ripley's Aquarium of Canada">
        </div>
        <div class="small">
          <img src="../../assets/image/Destination_3-1.jpg" alt="Ripley's Aquarium of Canada">
          <img src="../../assets/image/Destination_3-2.jpg" alt="Ripley's Aquarium of Canada">
        </div>
        <div class="small">
          <img src="../../assets/image/Destination_3-3.jpg" alt="Ripley's Aquarium of Canada">
          <img src="../../assets/image/Destination_3-4.jpg" alt="Ripley's Aquarium of Canada">
        </div>
      </div>
      <div class="content">
        <div class="about-map-container">
          <div class="about-section">
            <h2>About</h2>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Do you like the idea of coming face to face with a shark, separated only by a pane of glass? The Ripley’s Aquarium of Canada allows you to live that experience, while exposing you to another 16,000 marine animals hosted on site. It takes 5.7 million litres of water to host all of those animals, from southern stingrays, to 65-year-old giant lobsters, to giant pacific octopus, to nettle jellyfish. Explore life on the reef, walk in safety under a dangerous lagoon, stick your head in an underwater viewing bubble, or take in a stingray dive show. Open 365 days a year, you can always turn to the Ripley’s Aquarium of Canada for an exciting day—whether it’s an angelfish on Christmas Day, or a stingray on your birthday.</p>
            <hr>
            <h2 class="inline-block">Opening Hours</h2>
            <h2 class="inline-block">Suggested Duration</h2>
            <br>
            <h3 class="inline-block2">- 9 a.m. to 9 p.m.</h3>
            <h3 class="inline-block2">- 2 to 3 hours</h3>
            <hr>
            <h2>Tickets - General Admission</h2>
            <h3 class="tickets">- Adult: <b>C$44</b></h3>
            <h3 class="tickets">- Youth(ages 6-13): <b>C$29</b></h3>
            <h3 class="tickets">- child(ages 3-5): <b>C$12.5</b></h3>
            <h3 class="tickets">- Senior(ages 65+): <b>C$29</b></h3>
          </div>
          <hr>
          <div class="map-section">
            <h2>Location</h2>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2885.6291849515114!2d-79.38669448436818!3d43.642399979121774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4cb51e45c3c5d%3A0x4e67c0e1181a5c1d!2sRipley's%20Aquarium%20of%20Canada!5e0!3m2!1sen!2sca!4v1655987601013!5m2!1sen!2sca"
               width="580"
               height="450"
               style="border:0;"
               allowfullscreen=""
               loading="lazy">
            </iframe>
          </div>
        </div>
      </div>
    </section>
    <div class="buttons-container">
      <a href="https://www.ripleyaquariums.com/canada/" target="_blank"><button type="button">VIEW WEBSITE</button></a>
      <a href="/review"><button type="button">WRITE A REVIEW</button></a>
    </div>
  </main>
  <footer>
    <p>&copy; SUMMER 2023 - COMP 229 - Group 5 Project - Destination Xplorer. All rights reserved.</p>
  </footer>
</body>
</html>
