<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
</head>

<body>
    <nav>
        <div class="navbar">
            <a routerLink="/" routerLinkActive="active" class="logo">Destination Xplorer</a>
            <ul>
                <li> <a routerLink="/home" routerLinkActive="active">HOME</a></li>
                <li><a routerLink="/contacts" routerLinkActive="active">CONTACTS</a></li>
                <li><a routerLink="/destination" routerLinkActive="active">DESTINATION</a></li>
                <li> <a routerLink="/review" routerLinkActive="active">REVIEW</a></li>
                <li> <a routerLink="/login" routerLinkActive="active"> LOGIN</a></li>

            </ul>
        </div>
    </nav>
    <div class="contact-section">
        <h1>Contact Form</h1>
        <p>Feel free to reach out to us for any inquiries or collaborations.</p>
        <div class="container">
            <form class="form" (ngSubmit)="sendMessageForm()">
                <div class="descr">Contact us</div>
                <div class="input">
                    <input required="" autocomplete="off" type="text">
                    <label for="name">Name</label>
                </div>

                <div class="input">
                    <input required="" autocomplete="off" name="email" type="text">
                    <label for="email">E-mail</label>
                </div>

                <div class="input">
                    <textarea required="" cols="30" rows="1" id="message"></textarea>
                    <label for="message">Message</label>
                </div>
                <button>Send message →</button>
            </form>
        </div>
    </div>
</body>

</html>