@import '@angular/material/prebuilt-themes/indigo-pink.css';

* {
    max-width: none;
    margin-left: 25px;

}





.red-links a {
    font-size: 20px;
}

.circular-text {
    display: inline-block;
    width: 300px;
    /* Adjust the width and height as per your preference */
    height: 63px;
    border-radius: 50%;
    background-color: #ffffff;
    /* Adjust the background color as per your preference */
    color: #0e0d0d;
    /* Adjust the text color as per your preference */
    text-align: center;
    line-height: 63px;
    /* Adjust the line-height to vertically center the text */
    font-size: 18px;
    /* Adjust the font size as per your preference */
    font-weight: bold;
    /* Adjust the font weight as per your preference */
}